#stats {
  background-color: @surface0;
  margin: 10px 5px 0 0;
  font-weight: bold;
  padding: 0.4rem 1rem;
}

#cpu,
#memory,
#disk,
#network {
  padding: 0 0.5em;
}

#cpu {
  color: @red;
}

#memory {
  color: @yellow;
}

#network {
  color: @blue;
}
