* {
  font-family: RecMonoCasual Nerd Font, LXGW WenKai Mono Bold;
  border-radius: 1.5rem;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
  padding: 1px 5px;
}

tooltip label {
  color: white;
}

label:focus {
  background-color: #000000;
}

/* Remove border from parent waybar */
box {
  border: none;
}

#pulseaudio {
  background-color: @surface0;
  color: @sky;
  margin: 10px 10px 0 5px;
  padding: 0 10px;
}

#mpd {
  background-color: @surface0;
  color: @pink;
  margin: 10px 0 0 0;
  padding: 0 15px;
}

#custom-launcher {
  background-color: @surface0;
  color: @lavender;
  margin: 0;
  font-size: 28px;
  padding: 0px 30px 0px 10px;
  border-radius: 0px 0px 40px 0px;
}

#tray {
  background-color: @surface0;
  margin: 10px 0 0 0;
  padding: 0 5px 5px 5px;
}

#clock {
  background-color: @surface0;
  color: @lavender;
  margin: 10px 10px 0 5px;
  padding: 0 15px;
}
